.bxbxMenuAltRightIcon {
  position: relative;
  width: 66px;
  height: 53px;
}
.bxbxMenuAltRightWrapper {
  position: absolute;
  top: 28px;
  right: 16px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.mobileFrame,
.mobileNavbar {
  align-self: stretch;
  overflow: hidden;
}
.mobileNavbar {
  position: relative;
  height: 107px;
  flex-shrink: 0;
}
.mobileFrame {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.workAtThe {
  margin: 0;
}
.workAtTheContainer {
  position: relative;
  letter-spacing: 0.2px;
  line-height: 62px;
}
.secondHeadline {
  overflow: hidden;
  display: flex;
  flex-direction: row;
  padding: var(--padding-3xs);
  align-items: center;
  justify-content: flex-start;
}
.mostCalendarsAreContainer {
  position: relative;
  letter-spacing: 0.2px;
  line-height: 30px;
}
.subHeading,
.textContent {
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.subHeading {
  flex-direction: row;
  padding: var(--padding-3xs);
  font-size: var(--font-size-sm);
}
.textContent {
  width: 347px;
  height: 319px;
  flex-shrink: 0;
  flex-direction: column;
  gap: var(--gap-6xs);
}
.tryForFree {
  position: relative;
  letter-spacing: 0.2px;
  line-height: 25px;
}
.button {
  background-color: var(--primary);
  box-shadow: var(--shadow);
  flex-direction: row;
  padding: var(--padding-3xs) var(--padding-11xl);
}
.button,
.button1,
.buttons {
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.button1 {
  box-shadow: var(--shadow);
  border: 1px solid var(--light-background);
  flex-direction: row;
  padding: var(--padding-3xs) var(--padding-11xl);
}
.buttons {
  flex-direction: column;
  gap: var(--gap-2xl);
  text-align: left;
  font-size: var(--button-size);
  font-family: var(--link);
}
.boardsIcon,
.chatBotIcon,
.dashboard1Icon {
  position: absolute;
  top: calc(50% - 217.5px);
  left: calc(50% - 177.93px);
  width: 345.38px;
  height: 55px;
  object-fit: cover;
}
.boardsIcon,
.chatBotIcon {
  top: calc(50% - 76.95px);
  left: calc(50% + 168.97px);
  width: 245.19px;
  height: 237.28px;
}
.boardsIcon {
  top: calc(50% - 62.98px);
  left: calc(50% - 215.04px);
  height: 225.98px;
}
.screens1 {
  position: absolute;
  top: 0;
  left: 3.07px;
  width: 355.86px;
  height: 435px;
  overflow: hidden;
}
.gradient {
  position: absolute;
  height: 72.41%;
  width: 100%;
  top: 27.59%;
  right: 0;
  bottom: 0;
  left: 0;
  background: linear-gradient(180deg, rgba(30, 30, 30, 0), #0e0e0e);
}
.screens {
  align-self: stretch;
  position: relative;
  height: 453px;
}
.hero,
.mobileHeader05 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.hero {
  align-self: stretch;
  background-color: var(--dark-background);
  align-items: center;
  gap: var(--gap-38xl);
}
.mobileHeader05 {
  position: absolute;
  height: 118.63%;
  width: 100.56%;
  top: -0.37%;
  right: -2.78%;
  bottom: -18.25%;
  left: 2.22%;
  background-color: var(--light-background);
  overflow: hidden;
  align-items: flex-start;
}
.icon {
  position: absolute;
  top: 0;
  left: 59px;
  width: 241px;
  height: 206px;
  object-fit: cover;
}
.android360Lightmode {
  position: relative;
  background-color: var(--color-gray-200);
  width: 100%;
  height: 800px;
  overflow: hidden;
  text-align: center;
  font-size: 42px;
  color: var(--light-background);
  font-family: var(--font-archivo-black);
}
