.frame28NeedsToUseAutolay,
.rectangle1NeedsToBeARas {
  position: absolute;
  top: 0;
  left: 0;
  border: 4px solid var(--color-red);
  box-sizing: border-box;
  width: 1552px;
  height: 1032.67px;
}
.rectangle1NeedsToBeARas {
  left: 1px;
  width: 1551px;
  height: 804px;
}
.frame1NeedsToUseAutolayo,
.frame3NeedsToUseAutolayo,
.fuseDarkNeedsToUseAutola {
  position: absolute;
  top: 46.58px;
  left: 666px;
  border: 4px solid var(--color-red);
  box-sizing: border-box;
  width: 194px;
  height: 60.37px;
}
.frame1NeedsToUseAutolayo,
.frame3NeedsToUseAutolayo {
  top: 551.74px;
  left: 483.85px;
  width: 579.04px;
  height: 90.55px;
}
.frame3NeedsToUseAutolayo {
  top: 10.39px;
  left: 1308.73px;
  width: 122.87px;
  height: 35.11px;
}
.illustrationMoneyTreeNee,
.vectorNeedsToBeARasteriz,
.vectorNeedsToBeARasteriz1 {
  position: absolute;
  top: 393.67px;
  left: 1312.79px;
  border: 4px solid var(--color-red);
  box-sizing: border-box;
  width: 106.43px;
  height: 86.09px;
}
.illustrationMoneyTreeNee,
.vectorNeedsToBeARasteriz1 {
  left: 185.19px;
}
.illustrationMoneyTreeNee {
  top: 343.63px;
  left: 600.68px;
  width: 345.39px;
  height: 165.32px;
}
.vectorNeedsToBeARasteriz2,
.vectorNeedsToBeARasteriz3,
.vectorNeedsToBeARasteriz4,
.vectorNeedsToBeARasteriz5 {
  position: absolute;
  top: 399.38px;
  left: 928.59px;
  border: 4px solid var(--color-red);
  box-sizing: border-box;
  width: 15.03px;
  height: 9.85px;
}
.vectorNeedsToBeARasteriz3,
.vectorNeedsToBeARasteriz4,
.vectorNeedsToBeARasteriz5 {
  top: 408.75px;
  left: 748.73px;
}
.vectorNeedsToBeARasteriz4,
.vectorNeedsToBeARasteriz5 {
  top: 343.63px;
  left: 738.8px;
  width: 207.27px;
  height: 106.14px;
}
.vectorNeedsToBeARasteriz5 {
  top: 495.47px;
  left: 600.68px;
  width: 157.53px;
  height: 13.49px;
}
.vectorNeedsToBeARasteriz6,
.vectorNeedsToBeARasteriz8,
.vectorNeedsToBeARasteriz9 {
  position: absolute;
  top: 429.63px;
  left: 658.48px;
  border: 4px solid var(--color-red);
  box-sizing: border-box;
  width: 56.08px;
  height: 51.61px;
}
.vectorNeedsToBeARasteriz8,
.vectorNeedsToBeARasteriz9 {
  top: 499.46px;
  left: 648px;
  width: 11.02px;
  height: 4.85px;
}
.vectorNeedsToBeARasteriz9 {
  left: 676.25px;
}
.vectorNeedsToBeARasteriz10,
.vectorNeedsToBeARasteriz11,
.vectorNeedsToBeARasteriz12 {
  position: absolute;
  top: 409.69px;
  left: 705.63px;
  border: 4px solid var(--color-red);
  box-sizing: border-box;
  width: 10.76px;
  height: 9.3px;
}
.vectorNeedsToBeARasteriz11,
.vectorNeedsToBeARasteriz12 {
  top: 412.58px;
  left: 693.67px;
  width: 12.79px;
  height: 11.38px;
}
.vectorNeedsToBeARasteriz12 {
  top: 408.64px;
  left: 704.26px;
  width: 17.85px;
  height: 5.98px;
}
.vectorNeedsToBeARasteriz13,
.vectorNeedsToBeARasteriz14,
.vectorNeedsToBeARasteriz15 {
  position: absolute;
  top: 412.9px;
  left: 706.8px;
  border: 4px solid var(--color-red);
  box-sizing: border-box;
  width: 2.6px;
  height: 2.05px;
}
.vectorNeedsToBeARasteriz14,
.vectorNeedsToBeARasteriz15 {
  top: 416px;
  left: 711.31px;
  width: 2.94px;
  height: 2.11px;
}
.vectorNeedsToBeARasteriz15 {
  top: 415.38px;
  left: 703.64px;
  width: 2.65px;
  height: 3.97px;
}
.vectorNeedsToBeARasteriz16,
.vectorNeedsToBeARasteriz17,
.vectorNeedsToBeARasteriz18 {
  position: absolute;
  top: 416.38px;
  left: 645.07px;
  border: 4px solid var(--color-red);
  box-sizing: border-box;
  width: 79.22px;
  height: 53.42px;
}
.vectorNeedsToBeARasteriz17,
.vectorNeedsToBeARasteriz18 {
  top: 460.49px;
  left: 706.46px;
  width: 21.4px;
  height: 15.81px;
}
.vectorNeedsToBeARasteriz18 {
  top: 424.04px;
  left: 645.1px;
  width: 44.51px;
  height: 45.8px;
}
.vectorNeedsToBeARasteriz20,
.vectorNeedsToBeARasteriz22,
.vectorNeedsToBeARasteriz23 {
  position: absolute;
  top: 417.35px;
  left: 645.61px;
  border: 4px solid var(--color-red);
  box-sizing: border-box;
  width: 59.72px;
  height: 49.61px;
}
.vectorNeedsToBeARasteriz22,
.vectorNeedsToBeARasteriz23 {
  top: 457.99px;
  left: 707.85px;
  width: 36.8px;
  height: 27.63px;
}
.vectorNeedsToBeARasteriz23 {
  top: 468.67px;
  left: 729.88px;
  width: 36.01px;
  height: 14.69px;
}
.vectorNeedsToBeARasteriz24,
.vectorNeedsToBeARasteriz25,
.vectorNeedsToBeARasteriz27 {
  position: absolute;
  top: 462.5px;
  left: 704.08px;
  border: 4px solid var(--color-red);
  box-sizing: border-box;
  width: 10.32px;
  height: 4.36px;
}
.vectorNeedsToBeARasteriz25,
.vectorNeedsToBeARasteriz27 {
  top: 457.99px;
  left: 727.2px;
  width: 17.44px;
  height: 5.98px;
}
.vectorNeedsToBeARasteriz27 {
  top: 478.36px;
  left: 712.65px;
  width: 8.71px;
  height: 2.97px;
}
.vectorNeedsToBeARasteriz28,
.vectorNeedsToBeARasteriz29,
.vectorNeedsToBeARasteriz30 {
  position: absolute;
  top: 469.47px;
  left: 766.41px;
  border: 4px solid var(--color-red);
  box-sizing: border-box;
  width: 1px;
  height: 1px;
}
.vectorNeedsToBeARasteriz29,
.vectorNeedsToBeARasteriz30 {
  left: 769.96px;
  width: 40.96px;
  height: 20.18px;
}
.vectorNeedsToBeARasteriz30 {
  left: 813.92px;
  width: 1px;
  height: 1px;
}
.vectorNeedsToBeARasteriz31,
.vectorNeedsToBeARasteriz32,
.vectorNeedsToBeARasteriz33 {
  position: absolute;
  top: 462.59px;
  left: 645.04px;
  border: 4px solid var(--color-red);
  box-sizing: border-box;
  width: 32.32px;
  height: 37.32px;
}
.vectorNeedsToBeARasteriz32,
.vectorNeedsToBeARasteriz33 {
  top: 469.84px;
  left: 661.18px;
  width: 20.58px;
  height: 30.06px;
}
.vectorNeedsToBeARasteriz33 {
  top: 381.71px;
  left: 789.36px;
  width: 114.26px;
  height: 119.87px;
}
.vectorNeedsToBeARasteriz34,
.vectorNeedsToBeARasteriz35,
.vectorNeedsToBeARasteriz36 {
  position: absolute;
  top: 392.36px;
  left: 767.11px;
  border: 4px solid var(--color-red);
  box-sizing: border-box;
  width: 41.52px;
  height: 28.19px;
}
.vectorNeedsToBeARasteriz35,
.vectorNeedsToBeARasteriz36 {
  top: 376.85px;
  left: 873.73px;
  width: 41.46px;
}
.vectorNeedsToBeARasteriz36 {
  top: 370.35px;
  left: 820.96px;
  width: 39.24px;
  height: 24.87px;
}
.groupNeedsToUseAutolayout,
.vectorNeedsToBeARasteriz37,
.vectorNeedsToBeARasteriz38 {
  position: absolute;
  top: 362.93px;
  left: 784.07px;
  border: 4px solid var(--color-red);
  box-sizing: border-box;
  width: 127.06px;
  height: 73.45px;
}
.vectorNeedsToBeARasteriz37,
.vectorNeedsToBeARasteriz38 {
  top: 411.04px;
  left: 786.3px;
  width: 15.03px;
  height: 9.85px;
}
.vectorNeedsToBeARasteriz38 {
  top: 390.61px;
  left: 822.25px;
}
.vectorNeedsToBeARasteriz39,
.vectorNeedsToBeARasteriz40,
.vectorNeedsToBeARasteriz41,
.vectorNeedsToBeARasteriz42 {
  position: absolute;
  top: 362.93px;
  left: 855.35px;
  border: 4px solid var(--color-red);
  box-sizing: border-box;
  width: 15.03px;
  height: 9.85px;
}
.vectorNeedsToBeARasteriz40,
.vectorNeedsToBeARasteriz41,
.vectorNeedsToBeARasteriz42 {
  top: 371.12px;
  left: 784.07px;
}
.vectorNeedsToBeARasteriz41,
.vectorNeedsToBeARasteriz42 {
  top: 426.54px;
  left: 874.65px;
}
.vectorNeedsToBeARasteriz42 {
  top: 392.94px;
  left: 896.1px;
}
.entypoSocialfacebookWithCi,
.entypoSocialtwitterWithCir,
.group56NeedsToUseAutolay,
.vectorNeedsToBeARasteriz43 {
  position: absolute;
  top: 844px;
  left: 77px;
  border: 4px solid var(--color-red);
  box-sizing: border-box;
  width: 158.47px;
  height: 36.57px;
}
.entypoSocialfacebookWithCi,
.entypoSocialtwitterWithCir,
.vectorNeedsToBeARasteriz43 {
  width: 36.57px;
}
.entypoSocialtwitterWithCir,
.vectorNeedsToBeARasteriz43 {
  top: 844.73px;
  left: 77.73px;
  width: 35.11px;
  height: 35.11px;
}
.entypoSocialtwitterWithCir {
  top: 844px;
  left: 198.9px;
  width: 36.57px;
  height: 36.57px;
}
.entypoSocialinstagramWithC,
.vectorNeedsToBeARasteriz44,
.vectorNeedsToBeARasteriz45 {
  position: absolute;
  top: 844.73px;
  left: 199.63px;
  border: 4px solid var(--color-red);
  box-sizing: border-box;
  width: 35.11px;
  height: 35.11px;
}
.entypoSocialinstagramWithC,
.vectorNeedsToBeARasteriz45 {
  top: 844px;
  left: 137.95px;
  width: 36.57px;
  height: 36.57px;
}
.vectorNeedsToBeARasteriz45 {
  top: 844.73px;
  left: 138.68px;
  width: 35.11px;
  height: 35.11px;
}
.exportToCodeErrorsDelete {
  position: relative;
  width: 100%;
  height: 1032.67px;
  overflow: hidden;
}
