@keyframes roll-in-left {
  0% {
    transform: translateX(-50px) rotate(-540deg);
    opacity: 0;
  }
  to {
    transform: translateX(0) rotate(0deg);
    opacity: 1;
  }
}
.frameChild {
  position: absolute;
  top: 0;
  left: 32.7px;
  background: conic-gradient(
    from 137.47deg at 50% 50%,
    #c5ec1c 0deg,
    #a6c812 189.38deg,
    #aecf1d 236.36deg,
    #c5ec1c 360deg,
    #a6c812 549.38deg
  );
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  width: 1492.78px;
  height: 726.78px;
  mix-blend-mode: darken;
}
.logoIcon,
.logoIcon1 {
  position: absolute;
  top: 11.91px;
  width: 403.59px;
  height: 60.37px;
}
.logoIcon {
  left: 39px;
  opacity: 0;
}
.logoIcon.animate {
  animation: 1s ease 0s 1 normal forwards roll-in-left;
}
.logoIcon1 {
  left: 566.05px;
  object-fit: cover;
}
.frameItem {
  background-color: transparent;
  position: absolute;
  top: 575.07px;
  left: 477.16px;
}
.beyondUsingStart {
  margin: 0;
}
.beyondUsingStartContainer,
.uniteForA {
  position: absolute;
  top: 214.39px;
  left: 436.29px;
  font-size: var(--font-size-33xl);
  line-height: 67px;
  display: inline-block;
  width: 664.14px;
  height: 106.44px;
}
.uniteForA {
  top: 273.04px;
  left: 495.04px;
  font-size: var(--font-size-19xl);
  font-weight: 600;
  width: 545.62px;
  height: 53.22px;
}
.enquiries {
  position: relative;
}
.enquiriesWrapper {
  border-radius: var(--br-2xs);
  background-color: var(--color-gray-400);
  width: 122.87px;
  height: 35.11px;
  display: flex;
  flex-direction: column;
  padding: 0 27.9366455078125px;
  box-sizing: border-box;
  align-items: flex-start;
  justify-content: center;
}
.frameWrapper,
.privacyPolicy {
  position: absolute;
  font-family: var(--font-poppins);
  text-align: left;
}
.frameWrapper {
  top: 37.33px;
  left: 1306.82px;
  width: 125.55px;
  height: 27.89px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  color: var(--light-background);
}
.privacyPolicy {
  top: 43.69px;
  left: 1172.97px;
  display: inline-block;
  width: 97.07px;
  height: 16.68px;
}
.illustrationMoneyTree,
.vectorIcon,
.vectorIcon1 {
  position: absolute;
  height: 8.14%;
  width: 6.91%;
  top: 39.41%;
  right: 8.52%;
  bottom: 52.45%;
  left: 84.57%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.illustrationMoneyTree,
.vectorIcon1 {
  right: 81.69%;
  left: 11.4%;
}
.illustrationMoneyTree {
  height: 15.63%;
  width: 22.41%;
  top: 34.68%;
  right: 39.22%;
  bottom: 49.69%;
  left: 38.37%;
}
.mobileChild,
.rectangleParent {
  position: absolute;
  top: 0;
  left: -39px;
  width: 404px;
  height: 804px;
}
.mobileChild {
  top: 575px;
  left: -302px;
  border-radius: var(--br-26xl);
  background-color: var(--color-gray-400);
  width: 1541.83px;
  height: 335.19px;
}
.subscribeToOur {
  align-self: stretch;
  position: relative;
  letter-spacing: 0.1px;
  line-height: 36px;
  font-weight: 900;
}
.input {
  background-color: transparent;
}
.frameInner,
.input {
  align-self: stretch;
}
.subscribeToOurNewsletterParent {
  position: absolute;
  top: 585px;
  left: 3px;
  width: 357px;
  height: 158px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-xs);
  text-align: left;
  font-size: var(--font-size-xl);
  color: var(--light-background);
  font-family: var(--font-poppins);
}
.mobile {
  position: relative;
  background-color: var(--light-background);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  width: 100%;
  height: 800px;
  overflow: hidden;
  text-align: center;
  font-size: var(--font-size-sm);
  color: var(--color-black);
  font-family: var(--font-overpass);
}
