.footerChild {
  position: relative;
  border-top: 0.7px solid var(--color-aliceblue);
  box-sizing: border-box;
  width: 320.7px;
  height: 0.7px;
}
.fuseBringsAllContainer {
  position: absolute;
  top: 22.17px;
  left: 1px;
  line-height: 18px;
  display: inline-block;
  width: 291px;
}
.frameChild {
  position: absolute;
  height: 17.04%;
  width: 28.08%;
  top: 82.96%;
  right: 71.57%;
  bottom: 0;
  left: 0.34%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.fuseBringsAllYourEssentialParent {
  position: relative;
  width: 292px;
  height: 82.17px;
  font-size: var(--font-size-2xs);
}
.about,
.careers,
.contact,
.pricing,
.services {
  line-height: 18px;
  display: inline-block;
  width: 291px;
}
.about {
  position: relative;
  font-weight: 600;
}
.careers,
.contact,
.pricing,
.services {
  position: absolute;
  top: 0;
  left: 0;
}
.careers,
.contact,
.pricing {
  top: 24px;
}
.careers,
.contact {
  top: 48px;
}
.careers {
  top: 72px;
}
.servicesParent {
  position: relative;
  width: 291px;
  height: 90px;
}
.aboutParent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-3xs);
}
.helpCenterParent {
  position: relative;
  width: 291px;
  height: 66px;
}
.fusemoney {
  color: var(--color-gray-300);
}
.fusemoneyAllRightsContainer {
  position: relative;
  line-height: 18px;
  display: inline-block;
  width: 291px;
}
.footer {
  width: 320px;
  height: 443px;
  display: flex;
  flex-direction: column;
  padding: 0 0 0 var(--padding-sm);
  box-sizing: border-box;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xl);
  text-align: left;
  font-size: var(--font-size-xs);
  color: var(--color-dimgray);
  font-family: var(--link);
}
